---
import "../styles/global.css";


const front=[
    {id:1,nombre:"HTML",img:"lenguajes/1.png"},
    {id:2,nombre:"CSS",img:"lenguajes/2.png"},
    {id:3,nombre:"JS",img:"lenguajes/3.png"},
    {id:4,nombre:"Astro",img:"lenguajes/4.png"},
]

const back=[
    {id:1,nombre:"PHP",img:"lenguajes/8.png"},
    {id:2,nombre:"JAVA",img:"lenguajes/5.png"},
]

const baseDatos=[
    {id:1,nombre:"MYSQL",img:"lenguajes/6.png"},
    {id:2,nombre:"POSTGRES",img:"lenguajes/7.png"},
]

---
<div id="skill">

</div>

<div class="w-5/6 block m-auto">

    <div class="p-2">
        <h2 class="text-5xl text-center font-bold p-4 mt-10 mb-10">My skills</h2>
    </div>

    <div class="flex justify-center flex-wrap gap-5 p-2 mt-5 mb-5">

        <!-- <div> -->

            <div class="bg-blue-950 text-white p-4 rounded-full cursor-pointer w-full lg:w-1/5 text-center hover:shadow-xl" id="btnFront">
                <h2>Front End</h2>
            </div>
            <div class="bg-blue-950 text-white p-4 rounded-full cursor-pointer w-full lg:w-1/5 text-center hover:shadow-xl" id="btnBack">
                <h2>Back End</h2>
            </div>
            <div class="bg-blue-950 text-white p-4 rounded-full cursor-pointer w-full lg:w-1/5 text-center hover:shadow-xl" id="btnBased">
                <h2>Base de Datos</h2>
            </div>
            <div class="bg-blue-950 text-white p-4 rounded-full cursor-pointer w-full lg:w-1/5 text-center hover:shadow-xl" id="btnT">
                <h2>Todos</h2>
            </div>

        <!-- </div> -->

    </div>

    <div class="flex flex-col p-2 mb-2 gap-4" id="front">

        <div class="flex justify-around flex-wrap p-4 gap-4" id="fron">

            {front.map((f) => (
                <div class="bg-white rounded-2xl p-4 shadow-xl" key={f.id}>
                    <img 
                        src={f.img}
                        alt="" 
                        class="w-32"
                    />
                    <p class="text-center text-2xl p-1 font-bold">{f.nombre}</p>
                </div>
            ))}

        </div>

        <div class="flex justify-around flex-wrap p-4 gap-4" id="back">

            {back.map((b) => (
                <div class="bg-white rounded-2xl p-4 shadow-xl" key={b.id}>
                    <img 
                        src={b.img}
                        alt="" 
                        class="w-32"
                    />
                    <p class="text-center text-2xl p-1 font-bold">{b.nombre}</p>
                </div>
            ))}

        </div>


        <div class="flex justify-around flex-wrap p-4 gap-4" id="bd">

            {baseDatos.map((bd) => (
                <div class="bg-white rounded-2xl p-4 shadow-xl" key={bd.id}>
                    <img 
                        src={bd.img}
                        alt="" 
                        class="w-32"
                    />
                    <p class="text-center text-2xl p-1 font-bold">{bd.nombre}</p>
                </div>
            ))}

        </div>

    </div>



</div>

<script src="/src/assets/js/script.js"></script>
